<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 

<body>
    <%- include('partials/header') %> 
	<h1>No tiene permiso para acceder a esta sección!</h1>
	<img src="/images/nonono.gif" width="45%">
</body>
</html>